

html, body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0;
}

/* responsive @media */

@media only screen and (min-width: 1200px) {
  .container {max-width: 100%;}
}

@media only screen and (min-width: 1200px) {
  .container.main {max-width: 75%;}
}

/* containers */
.container {
  margin: 0;
  padding: 0;
}

.container.main {
  width: 75%;
  margin-top: 120px;
  margin-left: auto;
  margin-right:auto;
}

/* Copy and heading styes */ 
p {
 
  font-size: 16px;
  color: gray;

}

h1 {
font-size: 40px;
margin-bottom: 35px;
color: #038BB7;
line-height: 20px;
display: block;
}

h1.large {
  font-size: 80px;
  font-weight: bolder;
  line-height: 75px;
  margin-top: 15px;
  margin-bottom: 10px;
  
}

h1.largeWhite {
  font-size: 80px;
  font-weight: bolder;
  line-height: 75px;
  margin-top: 15px;
  margin-bottom: 10px;
  color: white;
  
}

h1.xlarge {
font-size: 250px;
font-weight: bolder;
color: magenta;
line-height: 180px;
margin-bottom: 10px;
}

h1.xlarge-pages {
font-size: 100px;
font-weight: bolder;
color: magenta;
margin-top: 15;
line-height: 80px;
margin-bottom: 10px;
text-align: left;
cursor: pointer;
}

h2.xlarge-pages{
  font-size: 65px;
  line-height: 60px;
  color: gray;
  margin-top: 15px;
  margin-bottom: 10px;

}

h2.block {
width: 100%;
background-color: darkcyan;
color: white;
text-align: center;
margin-top: 9px;
margin-bottom: 7px;
font-size: 45px;
padding-top: 7px;
padding-bottom: 7px;
}
h4 {

font-size: 20px;

}

/* Colours */

.whiteText {
  color: white;
}

.primaryBackground {
  background-color: #038BB7;
}

.orange {
  background-color: #FF7900;
  color: white;
}
/* Link styles */
a:link {
  color: #FF7900;
}


a:visited {
  color: #15151515;
}

a:hover {
  color: magenta;
}

a:active {
  color: white;
}
/* Links for dark background (white)*/
a:link.white {
  color: rgb(255, 255, 255);
}


a:visited.white {
  color: #c4c2c215;
}

a:hover.white {
  color: rgb(161, 157, 161);
}

a:active.white {
  color: rgb(255, 253, 253);
}

/* Container styles    */

.homeBackground {
  width: 100% ;
  object-fit:cover;

}

.homeCopy {
  margin-top: 100px;
  width: 100%;
  position:absolute;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.oneThirdWidth {
  width: 30%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}


/*
  h1 glow effect home page
*/


.glow {
  font-size: 80px;
  color: #fff;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}


/*
  block quotes
*/

.zitat1 {
  position: relative;
  font-family: 'Verdana', serif;
  font-size: 2.4em;
  line-height: 1.5em;
  color: #333;
}
.zitat1 cite {
  font-family: 'Verdana', sans-serif;
  font-size: 0.6em;
  font-weight: 700;
  color: #bdbec0;
  float: right;
}
.zitat1 cite.description {
  font-family: 'Verdana', sans-serif;
  font-size: 0.2em;
  font-weight: 200;
  color: #bdbec0;
  float: right;
  margin: -30;
}

.zitat1 cite:before {
  content: '\2015'' ';
}
.zitat1:after {
  content: '\201d';
  position: absolute;
  top: 0.28em;
  right: 0px;
  font-size: 6em;
  font-style: italic;
  color: #bdbec0;
  z-index: -1;
}


/* Table */


.table-row {
    background-color: rgb(146, 31, 31);
  }

  .table-row:nth-child(2n) {
    background: #eee;
  }


   /*Resume page Styles*/   
   ul.resume {
    list-style-type: circle;
  
  }

  ul {
    list-style-type: circle;
  
  }